body {
  margin: 0;
  padding: 100px;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkseagreen;
}
.checkbox {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 60px;
  height: 30px;
  background-color: burlywood;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.5), 0px 1px 2px #fff;
  margin: 10px;
}
.checkbox input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox label {
  background-color: black;
  background-image: linear-gradient(
    -40deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: inline-block;
  width: 30px;
  font: bold 10px/28px Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  transition: margin-left 0.2s ease-in-out;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
.checkbox label::before {
  content: attr(data-off);
}
.checkbox input:checked + label {
  margin-left: 29px;
  background-color: rgba(102, 188, 228, 0.363);
  color: white;
}
.checkbox input:checked + label::before {
  content: attr(data-on);
}
